.title-clearButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
}

.title-clearButton .clear {
    display: flex;
    align-items: center;
    background-color: #ffcc00;
    color: white;
    border: 1px solid #ddd;
    height: 40px;
}

input[type="range"] {
    margin: 10px 0;
    -webkit-appearance: none; /* Supprime l'apparence par défaut du range */
    appearance: none;
    width: 100%; /* Prend toute la largeur de la page */
    height: 15px; /* Hauteur de la barre */
    background: #ddd; /* Couleur de fond de la barre */
    border-radius: 5px;
    outline: none;
}

/* Style du curseur */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Supprime l'apparence par défaut du curseur */
    appearance: none;
    width: 30px; /* Largeur du curseur */
    height: 30px; /* Hauteur du curseur */
    border-radius: 50%; /* Donne une forme ronde au curseur */
    background: #ffcc00; /* Couleur du curseur */
    cursor: pointer;
}

.title-clearButton .clear:hover {
    background-color: #e6b800;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.filters button {
    padding: 0;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease;
    background-color: rgba(0, 0, 0, 0);
}

.filters button:hover {
    transform: scale(1.1);
}

.filters button.active {
    transform: scale(1.1);
}

.cards-container {
    margin-top: 10px; /* Corriger l'espace (vous avez écrit "10 px", donc j'ai retiré l'espace) */
    display: flex; /* Utilisation de Flexbox */
    flex-wrap: wrap; /* Permet aux cartes de se déplacer à la ligne suivante lorsqu'elles sont trop larges */
    gap: 20px; /* Espacement de 20px entre chaque carte */
    justify-content: center; /* Centrer les cartes horizontalement */
}

.cards-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 43px;
    /*width: 100%;*/
    margin: auto;
}
.pokemon-card {
    width: 150px; /* Largeur de chaque carte */
    height: 200px; /* Hauteur de chaque carte */
    transition: transform 0.3s ease-in-out;
}

/* Optionnel : Ajoutez un ajustement pour les grandes écrans pour afficher plus de cartes sur une ligne */
@media (min-width: 768px) {
    .pokemon-card {
        width: 180px; /* Augmenter la largeur des cartes sur les grands écrans */
        height: 240px; /* Augmenter la hauteur des cartes sur les grands écrans */
    }
}
